.add-disk {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.add-disk button {
  padding: 5px 10px;
  font-size: 14px;
}

.parameters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  font-size: 20px;
  margin: 20px 0px 20px 0px;
}
.parameters select {
  margin: 0px 10px 0px 10px;
  padding: 5px 10px;
  font-size: 16px;
}
.parameters button {
  margin-left: 10px;
}
.parameters p {
  margin: 0px;
}
