.disk-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.disk-page button {
  padding: 5px 10px;
  font-size: 14px;
}
.disk-page-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
