.disk {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  width: 600px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.disk-img {
  width: 120px;
}
.trash {
  height: 30px;
}
.parameters {
  display: flex;
  justify-content: space-between;
  width: 460px;
}
.parameters1 {
  width: 300px;
}
.parameters2 {
  display: flex;
  align-items: center;
}
.bar-of-use {
  width: 300px;
  height: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
}
