.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 80px;
  padding-right: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.nav button {
  margin-right: 40px;
  font-size: 14px;
  padding: 10px;
}
